Package: bcrypt-encoder
Version: _VERSIONPLACEHOLDER_
Maintainer: Léon van der Kaap <bcrypt@leonvanderkaap.nl>
Architecture: all
Section: utils
Installed-Size: _SIZEPLACEHOLDER_
Priority: optional
Description: A CLI for encoding and checking bcrypt passwords
